
.buttonTutorials, .buttonToGo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none !important;
    padding: 12px 50px;
    font-size: 20px;
    background-color:transparent;
    border: none;
    box-shadow: var(--box-shadow);
    color: var(--text-color-light);
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgb(151, 0, 76, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none !important;

    &:hover {
      background-color: rgb(241, 194, 218, 0.7); 
    }
      :global(html.dark) & {
        background-color: var(--dark-light);
        color: rgb(228, 227, 227);
        border: 1px solid rgba(248, 248, 248, 0.3);
      }
  }
  
  .iconSmallA {
    margin-left: 20px;
    color: var(--text-color-light);
    width: 24px;
    height: 24px; 

    :global(html.dark) & {
      color: rgb(226, 224, 224);
    }
  }

  @media (max-width: 768px) {
  .buttonTutorials {
    padding: 5px 25px;
    font-size: 1.2rem;
    margin:  0;
    background-color: transparent;
    color: var(--text-color-light);
    border: 1px solid rgb(251, 188, 220); 
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .iconSmallA{
    width: 20px;  
    height: 20px;
  }

  .buttonContainer {
    display: flex;
  }

  .buttonContainerToGo {
    margin: 0;
    padding: 0;
  }

  .buttonToGo{
    padding: 8px 15px;
    margin:0;
    font-size: 18px;
    background-color: rgb(231, 231, 231);
    color: rgb(33, 33, 41);
    border: 1px solid rgb(251, 188, 220); 
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

}