.homeTextContainer {
  padding: 3rem 0;
  margin: 0 auto;
  color: var(--text-color-dark);
}

.greeting {
  font-size: 1.25rem;
  color: var(--text-color-light);
  margin: 0 0 1rem 0;
  font-weight: 500;
 
  @media (max-width: 768px) {
    margin: 0;
  }
}

.nameHighlight {
  padding: 0;
  margin: 0;
  color: var(--primary-color);
}

.mainTitle {
  font-size: 3.875rem;
  font-weight: 700;
  margin: 0 0 1.4rem 0;
  line-height: 1.1;
 
  @media (max-width: 768px) {
    margin: 0;
    padding: 1.5rem 0;
    font-size: 2.2rem;
    text-align: left;
  }
}

.subTitle {
  font-size: 1.5rem;
  font-weight: 500;
  min-width: 900px;
  color: var(--text-color-light); 
  margin: 0 12rem 1.4rem 0;
  width: 100%;       
  text-align: left;  

   @media (max-width: 768px) {
    font-size: 1.5rem;
    margin: 0;
  }
}

.description {
  width: 100%;
  font-size: 1.25rem;
  color: #818080;
  line-height: 1.4;
  letter-spacing: 0.2px;
  margin-bottom: 2.5rem;
  
  @media (max-width: 768px) {
    margin-bottom: 1.5rem;
  }
}

.ctaButtons {
  display: flex;
  gap: 1.3rem;
  margin: 1rem 0 2.5rem 0;

  a {
    text-decoration: none;
    padding: 1.15rem 2.8rem;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: var(--br);
    transition: all 0.15s ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.btnPrimary {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid rgba(151, 0, 76, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);

  &:hover {
    background-color: white;
    color: #cc0267;
    border: 1px solid rgb(204, 2, 103, 0.5);
    
    .arrow {
      transform: rotate(-45deg);
    }
  }
}

.btnSecondary {
  border: 1px solid rgb(204, 2, 103, 0.5);
  color: var(--primary-color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  &:hover {
    background-color: var(--primary-color);
    color: white;
    
    .arrow {
      transform: rotate(-45deg);
    }
  }
}

.arrow {
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: 500;
  transition: transform 0.15s ease-in-out;
  transform: rotate(0deg);
}

  @media (max-width: 768px) {
  .homeTextContainer{
    padding: 0.5rem;
  }

  .techIcons {
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .description {
    width: 100%;
    font-size: 1rem;
  }

  .ctaButtons {
    gap: 0.8rem;
    margin: 0.8rem 0 1.5rem 0;

    a {
      padding: 0.7rem 1.5rem;
      font-size: 0.9rem;
    }
  }
}
