.homeTextContainer {
  padding: 4rem 0;
  margin: 0 auto;
  color: var(--text-color-dark);
}

.greeting {
  font-size: 1.5rem;
  color: var(--text-color-light);
  margin: 0 0 1rem 0;
  font-weight: 500;
}

.nameHighlight {
  padding: 0;
  margin: 0;
  color: var(--primary-color);
}

.mainTitle {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
  line-height: 1.1;
}

.subTitle {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--text-color-light); 
  margin: 0 0 1rem 0;
}

.description {
  width: 70%;
  font-size: 1.4rem;
  color: #8f8f9e;
  line-height: 1.4;
  letter-spacing: 0.4px;
  margin-bottom: 2rem;
}

.techIcons {
  display: flex;
  gap: 20px;
}

.icon {
  color: rgb(110, 110, 110, 0.8);
  transition: color 0.3s ease;
}

:global(html.dark) .icon {
  color: rgb(226, 224, 224);
}

  
  @media (max-width: 768px) {
  
  .homeTextContainer{
    padding: 0.5rem;
  }
  
  .title{
    margin: 0;
    padding: 1rem 0;
    font-size: 3rem;
    text-align: left;
  }

  .subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .subtitleTextA {
    width: 100%;
   }

  .introductionText{
    padding: 1rem 0rem;
    margin: 0;
    font-size: 1.5rem;
  }

  .techIcons {
    justify-content: center;
    padding: 1rem 0;
  }

  .description {
    width: 90%
  }
}