.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
    padding: 2rem 0;
    transition: transform 0.5s ease-in-out;
  }
  
  .soicon {
    color: var(--text-color-light);
    width: 30px;
    height: 30px;

    :global(html.dark) & {
      color: rgb(214, 214, 214);
    }
  }
  
  .socialMedia a:hover .soicon {
    color: rgb(151, 0 ,76);
  }
  