.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
    padding-top: 2rem;
    transition: transform 0.5s ease-in-out;
  }
  
  .soicon {
    color: var(--text-color-light);
    width: 32px;
    height: 32px;

    :global(html.dark) & {
      color: rgb(214, 214, 214);
    }
  }
  
  .cvIcon{
    width: 34px;
    height: 34px;
    :global(html.dark) & {
      color: rgb(214, 214, 214);
    }
  }
  
  .socialMedia a:hover .soicon {
    color: rgb(151, 0 ,76);
  }
  