.highlight {
  display: inline-block;
  position: relative;
  font-size: var(--section-title-font-size);
  font-weight: var(--section-title-font-weight);
  color: var(--section-title-color);
  text-decoration: none;
  padding:0;
  margin: 1rem 0 var(--section-title-spacing) 0;

  @media (max-width: 600px) {
    font-size: var(--section-title-font-size-mobile);
    margin-bottom: var(--section-title-spacing-mobile);
  }
}
