.highlight {
  display: inline-block;
  position: relative;
  font-size: 2.7rem;
  color: var(--text-color-light);
  text-decoration: none;
  padding:0;
  margin: 1rem 0rem;

  @media (max-width: 600px) {
    font-size: 1.8rem;
  }
}
