.container {
    background-color: var(--background-colorA)  ;
    min-height: 100vh;
  
    :global(html.dark) & {
      background-color: var(--dark-light);
      color: rgb(235, 235, 235);
  }
  }

  .containerContent{
    max-width: 1300px;
    margin-inline: auto;
    padding: 2rem 0;

    @media (max-width: 768px) {
      padding: 1rem 0
    }
  }
  