
  /* Contact Section */
  .contact-section {
    display: flex;
    flex-direction: column;
    max-width: 880px;
    margin-inline:auto;
    min-height: 70vh
  }

  .about-me-section {
    margin-top: 1.5rem;
  }

  .info-about-text {
    width: 80%;
    font-size: 22px;
  }

  .title-contact-container{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    
  }

  .tit-contact, .tit-contact1, .tit-contact2 {
    margin: 1%;
  }

  .tit-contact{
    font-size: 30px;
    color: rgb(45, 45, 45);
    margin-top: 20px;
  }

  .tit-contact1, .tit-contact2{
    font-size: 22px;
  }

  .h3 {
    font-size: 19px;
    margin-bottom: 10px;
    color: rgb(201, 40, 121); ;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 450px;
    height: 200px;
    margin: 0 auto; 
    margin-top: 1.5rem;
    border-style: none;
}

.contact-form textarea,
.contact-form input {
    resize: none;
    padding: 20px 40px;   
    border-radius: 8px;
    font-size: 15px; 
    width: 100%;
    box-sizing: border-box; 
    border: 1px solid transparent;
    background-color: rgb(232, 232, 232);
}

.contact-form textarea {
    height: 170px;
    margin-bottom: 2rem;
    border-radius: 8px;
    
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    height: 50px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: rgb(219, 55, 137); 
    outline: none; 
}

.contact-form button {
    background-color: rgb(219, 55, 137); 
    color: white; 
    border: none; 
    border-radius: 8px; 
    padding: 0.75rem; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.contact-form button:hover {
    background-color: rgb(219, 55, 137, 0.9); 
    cursor: pointer;
}

.success-message,
.error-message {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}

.success-message {
    font-size: 21px;
    color: rgb(219, 55, 137); 
}

.error-message {
    color: #f44336; 
}

.dark .contact-section {
  color: var(--text-color-dark-mode);
}


@media (max-width: 768px) {

  .contact-section{
    display: flex;
    flex-direction: column;
  }

  .title-contact-container {
    margin-top: 4%;
    margin-left: 2%;
    width: 90%;
  }

 .tit-contact {
  font-size: 21px;
 }

 .tit-contact1,.tit-contact2 {
  font-size: 17px;
 }

 .contact-form {
  margin-left: 5%;
  width: 320px;
 }

 .h3 {
  font-size: 17px;
 }

 .contact-section input, .contact-section textarea, .contact-section button {
  border-radius: 15px;
 }
}
