.overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.35s ease, backdrop-filter 0.35s ease;

  :global(html.dark) & {
    background: rgba(9, 9, 26, 0.75);
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  backdrop-filter: blur(0px);
  pointer-events: none;
}
