@import '../../app/styles/utilities.scss'; 

.buttonContainer {
  display: flex;
  justify-content: flex-start;

  @media (max-width: 768px) {
   padding: 0  0.5rem;
};
}

.buttonLink {
  text-decoration: none !important;
  display: inline-block;
}

.button {
  display: flex;
  align-items: center;
  padding: 0.75rem 2.25rem;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.01em;
  background-color: var(--primary-color);
  color: rgb(247, 247, 247);
  border-radius: var(--br);
  border: 1px solid rgba(151, 0, 76, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  text-decoration: none !important;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: white;
    color: #cc0267;
    border: 1px solid rgb(204, 2, 103, 0.5);
  }

  :global(html.dark) & {
    background-color: var(--dark-light);
    color: rgb(228, 227, 227);
    border: 1px solid rgba(248, 248, 248, 0.3);

    &:hover {
      background-color: rgba(255, 255, 255, 0.05); 
      border-color: rgba(255, 255, 255, 0.2);
      
      .icon {
        color: rgb(238, 237, 237);
        
        svg {
          stroke: rgb(238, 237, 237);
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 0.7rem 2rem;
    font-size: 1.125rem;
  }
}

.icon {
  margin-left: 20px;
  display: flex;
  align-items: center;
  color:white;

  svg {
    stroke: currentColor;
    transition: color 0.3s ease;
  }

  :global(html.dark) & {
    color: rgb(226, 224, 224);
    
    svg {
      stroke: currentColor;
    }
  }

  @media (max-width: 768px) {
    font-size: 14px !important;
    width: 16px;
    height: 16px;
    margin-left: 0.5rem;
  
    svg {
      stroke: currentColor;
      transition: color 0.3s ease;
      width: 100%;
      height: 100%;
    }
  }
}

.buttonSmall {
  padding: 8px 20px;
  font-size: 16px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end
}

.title {
  display: inline-block;
  position: relative;
  font-size: var(--h2-content-font-size);
  color: var(--text-color-light);
  text-decoration: none;
  padding:0;
  margin: 0;
  font-weight: var(--h2-content-font-weight);

  @media (max-width: 768px) {
    font-size: var(--h2-content-font-size-mobile);
    padding: 0 0.5rem
  }
}