@import '../../app/styles/utilities.scss'; 

.projectsSectionContainer{
    width: 100%;
    background-color: var(--background-colorA);
    
    :global(html.dark) & {
        background-color: var(--dark-light);
        color: rgb(235, 235, 235);
      }
}

.projectsSection{
    max-width: 1300px;
    margin-inline: auto;
    padding: 2.5rem 0;
}

@media (max-width: 768px) {
    .projectsSection{
        background-color: transparent;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0rem 0.5rem;
        margin: 0;
        height: auto;
    }

    .projectsSectionContainer{
        background-color: transparent;
    }
}