
.nav {
  display: flex;
  position: relative;
  overflow-x: hidden;
  background: rgb(0, 0, 0, 0);
  border-radius: 10px;
  color: #fff;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin-inline: auto;
  z-index: 1000;
  top: 0;
  
  @media (max-width: 768px) {
    display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0rem 1rem;
      height: 9vh;
  }
}

.active {
  color: rgb(24, 24, 24);
}

.desktopOnly {
  display: flex;

  @media (max-width: 768px) {
    display: none;
  }
}

.mobileMenuButton {
  display: none;

  @media (max-width: 768px) {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 100;

    button {
      background: #e9e8e8; 
      border: 1px solid #ccc;
      border-radius: var(--br);
      color: var(--primary-color);
      padding: 0.4rem 0.6rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: border-color 0.3s ease;
      font-size: 1.4rem;

      &:hover,
      &:focus {
        outline: none;
      }

      svg {
        pointer-events: none; 
      }
    }
  }
}


.mobileMenu {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
    padding: 4rem 3rem;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25%; 
    z-index: 999;
    gap: 0.7rem;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%); 

    &.open {
      transform: translateX(0); 
    }


   :global(html.dark) & {
    background-color: #181c33;
  }
  }
}

.mobileNavLink {
  color: #333; 
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  text-decoration: none !important;

  &:hover {
    color: #000;
  }

}


.mobileThemeToggle {
  margin-top: 1rem;
}


.centerMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  
  @media (max-width: 768px) {
    display: none;
  }
}

.nav a {
  font-size: 1.15rem;
  color: var(--text-color-light);
  margin: 0;
  padding-top: 5px;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
  position: relative;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 0;
  height: 2px;
  background-color: var(--primary-color-light);
  transition: width 0.4s ease;
}

.nav a:hover::after {
  color:var(--text-color-light);
  width: 100%;
}

.nav a:hover {
  color: var(--text-color);
}

.logoContainer {
  display: flex;
  flex-direction: row;
  left:0; 
}

.logo {
  opacity: 0.8;
  width: 40px;
  height: 40px;
  padding-top: 0.2rem;
}

.iconNav{
  padding: 0rem 1.7rem;
}


