.container {
  background-color: var(--background-colorA)  ;
  min-height: auto;

  :global(html.dark) & {
    background-color: var(--dark-light);
    color: rgb(235, 235, 235);
}
}

.containerContent {
  max-width: var(--container-max-width);
  margin-inline: auto;
}

.buttonContainer {
  max-width: var(--container-max-width);
  margin-inline: auto;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}