.scrollToTop {
  position: fixed;
  bottom: 1.5rem;
  right: 5rem;
  border: 1px solid var(--primary-color-light);
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--primary-color);
  border-radius: var(--br);
  width: 2.7rem;
  height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 2000;
  transition: all 0.3s ease;
  padding: 0;
  outline: none;

  :global(html.dark) & {
    background-color: rgba(24, 28, 51, 0.9);
    border-color: rgba(253, 3, 128, 0.5);
    color: rgb(226, 226, 226);
  }

  @media (max-width: 768px) {
    left: 1rem;
    right: auto;
    bottom: 1.4rem;
    width: 3rem;
    height: 3rem;
  }

  &:hover {
    background-color: rgba(253, 184, 219, 0.7);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

    :global(html.dark) & {
      background-color: rgba(253, 3, 128, 0.2);
    }
  }

  &:active {
    transform: translateY(0);
  }
}
