.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: var(--br);
  background-color: #ffffff;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(41, 0, 21, 0.1);
  color: var(--text-color);
  border: 1px solid rgba(75, 1, 38, 0.1);
  transition: transform 0.5s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  position: relative;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  cursor: pointer;

  :global(html.dark) & {
    background-color: #181c33;
    color: rgb(226, 226, 226);
    border: 1px solid rgba(248, 248, 248, 0.3);
    box-shadow: 0 4px 8px rgba(250, 81, 166, 0.2);
  }
  
  &:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border: 1px solid rgba(240, 4, 122, 0.3);
  }

  &:hover .projectPreview img {
    transform: scale(1.05);
  }

  &.active .infoWrapper {
    max-height: 220px;
    overflow: visible;
  }

  &.active .infoText {
    opacity: 1 !important; /* Ensure visibility */
  }
}

.projectCard.active .infoWrapper {
  max-height: 220px !important; /* Ensure it overrides other styles */
}

.projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0;
}

.projectTitleContainerCard {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  flex: 1;
  margin: 0;
}

.firstCardSection{
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}

.secondCardSection {
  padding: 1rem 1.7rem;
}

.projectPreview {
  position: relative;
  width: 100%; 
  height: 270px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;
  z-index: 1;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
}

.projectTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  font-size: 1.5rem;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.projectImage {
  object-fit: cover;
  object-position: center;
}

.projectFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.projectLinks {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
}

.projectCard a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 2.8rem;
  color: var(--text-color-light);
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(88, 1, 45, 0.2);
  border-radius: var(--br); 
  text-decoration: none;
  border: 1px solid rgba(226, 4, 115, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;

  :global(html.dark) & {
    background-color: rgba(252, 68, 160, 0.63);
    color: rgb(223, 222, 222);
  }
  
  &:hover {
    background-color:rgba(245, 84, 165, 0.9);
  }
}

.infoWrapper {
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 0.8s ease; 
}

.infoText {
  font-size: 1rem;
  color: var(--text-color-light);
  margin:0;
  letter-spacing: 0.3px;
  padding: 0;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease;
  
  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}

.infoTextDescription{
  white-space: pre-line; /* Para que se respete \n como salto de línea */
  line-height: 1.45;      /* Ajustá según tu diseño (1.5–1.8 suele ir bien) */
  letter-spacing: 0.3px; 
}

.projectCard.active .infoText  {
  opacity: 1; /* Visible when .active class is added */
}

.technologiesContainer {
  display: grid;
  grid-template-columns: repeat(3, max-content); 
  gap: 7px;
  justify-content: end; 
  flex: 1;
}


.technology {
  background-color: transparent;
  color: var(--text-color-light);
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 12px;
  padding: 0.5rem;
  border: 1px solid rgba(252, 0, 126, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;

  :global(html.dark) & {
    background-color: rgba(252, 68, 160, 0.2);
    color: rgb(223, 222, 222);
    border: 1px solid rgba(252, 68, 160, 0.5);
  }
  
  @media (max-width: 768px) {
    padding: 0.5rem;
  }
}

.technology {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px; // ajustá este valor a gusto
  height: 20px;

  svg {
    width: 100%;
    height: 100%;
  }
}
.technology svg {
  width: 18px;
  height: 18px;
  fill: currentColor;      // Hace que el SVG tome el color del texto
  stroke: none;            // Opcional, elimina contornos si los tienen
  color: #686868;    
  
  :global(html.dark) & {
    color: rgb(223, 222, 222);
  }

  @media (max-width: 768px) {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 768px) {
  .projectCard {
    width: 92%;
    overflow: hidden;
    margin: 1rem 0.5rem ;
  }

  .projectTitle {
    margin: 0;
    padding: 0;
  }

  .projectTitle h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

  .firstCardSection{
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .secondCardSection {
    padding:1rem;
  }

  .projectPreview {
    position: relative;
    width: 100%; 
    height: 140px;
  }

  .projectCard a {
    height: 2.2rem;
  }

  .projectIcon {
    width: 28px;
    height: 28px;
  }

  .fa-file-alt, .fa-github, .fa-external-link-alt {
    font-size: 19px
  }

}
