/* --- CARDS --- */
.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 8px;
    border-radius: 12px;
    background: linear-gradient(90deg, rgb(246, 239, 250) 0%,rgb(249, 233, 247) 100%);
    text-align: center; 
    align-items: center;
    width: 100%;
    max-width: 380px;
    min-height: 450px;
    max-height: 470px;
    margin: 35px auto;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.9s ease, box-shadow 0.5s ease;
    position: relative;
    overflow: hidden;
  }
  
  .project-card:hover {
    transform: scale(1.01); 
    max-height: 1000px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border: 0.5px solid rgba(222, 74, 148, 0.6); 
  }
  
  .project-icon{
    width: 50px; 
    height: 50px;
  }
  
  .project-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-card a {
    display: inline-block;
    position: relative;
    flex-direction: row;
    align-items: center;
    padding: 6px 20px;
    margin: 5px auto;
    width: 70%;
    color: rgb(11, 11, 11);
    font-size: 16px;
    background-color: rgba(248, 152, 200, 0.8);
    border-radius: 7px; 
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    border: 1px solid var(--primary-color); 
  }

  .dark .project-card a {
    background-color: rgb(38, 36, 36);
    color: rgb(221, 221, 221)
  }
  
  .project-card a:hover {
    background-color: rgb(245, 84, 165, 0.9);
    transform: scale(1.01); 
  }
  
  .project-card i{
    padding-right: 20px;
  }
   
  .project-preview {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .project-image{
    min-height: 140px;
    max-height: 140px;
    max-width: 180px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); 
  }

  .project-description {
    font-size: 18px;
    color: rgb(31, 30, 30);
    font-family: 'Lato';
    padding-right: 15px;
    padding-left: 15px;
    letter-spacing: 0.4px;
    word-spacing: 1px; 
    line-height: 1.3;
    text-align: left;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.50s ease, opacity 0.50s ease;
    max-height:0; 
    transform: translateX(-20%);
    transition: transform 0.80s ease;
  }
  
  .project-card:hover .project-description {
    max-height: 500px;
    transform: translateY(0);
    opacity: 1;
  }

  .project-title-container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .project-title {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    color:#222222;
    margin: 0;
  }

 .project-header {
    display: flex;
    flex-direction: column;
  }

  .dark .project-header h2,
  .dark .project-description {
    color: rgb(61, 61, 61) !important; /* Forzar negro en modo oscuro */
  }

  .highlight-second-word {
    color: var(--primary-color);
  }
  
 .dark .project-card {
  background: #efe7ec;
  box-shadow: 3px 3px 6px rgb(110, 57, 97);
 }

 .dark .project-card:hover {
  transform: translateY(-4px);
  box-shadow: 1px 4px 6px rgb(138, 138, 138, 0.3);
  cursor: pointer;
}


@media (max-width: 768px) {
  .project-card {
    padding: 1px;
    margin-top: 0px;
    margin-bottom: 18px;
    margin-left: 8px;
    margin-right: 5px;
    max-height: 400px;
    min-height: 400px;
  }

  .project-title {
    margin: 0;
    padding: 2px;
  }

  .project-title h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

  .project-image {
    width: 300px;
    height: 170px;
  }

  .project-icon {
    width: 40px;
    height: 40px;
  }

  .project-description {
    font-size: 14px;
  }

  .project-card a {
    padding: 5px 12px;
    margin: 1%;
    font-size: 14px;
  }

  .fa-file-alt, .fa-github, .fa-external-link-alt {
    font-size: 19px
  }

}
