.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 16px;
  background-color: #ffffff;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(229, 0, 114, 0.2);
  color: var(--text-color);
  border: 1px solid rgb(151, 0, 76, 0.2);
  transition: transform 0.5s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  position: relative;
  width: 100%;
  max-width: 600px;
  overflow: hidden;

  :global(html.dark) & {
    background-color: #181c33;
    color: rgb(226, 226, 226);
    border: 1px solid rgba(248, 248, 248, 0.3); /* fucsia translúcido */
    box-shadow: 0 4px 8px rgba(250, 81, 166, 0.5);
  }
  
  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background-color: #f9f9f9;
  }
}

.projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.projectTitleContainerCard {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  flex: 1;
}

.firstCardSection{
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}

.secondCardSection {
  padding: 1.2rem 2.5rem;
}

.projectPreview {
  position: relative;
  width: 100%; 
  height: 300px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;
  z-index: 1;
  flex-shrink: 0;
}

.projectImage {
  object-fit: cover;
  object-position: center;
}

.projectFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.projectLinks {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
}

.projectCard a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  color: var(--text-color);
  background-color: rgba(226, 4, 115, 0.2);
  box-shadow: 0 3px 4px rgba(192, 4, 98, 0.3);
  border-radius: 8px;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;

  :global(html.dark) & {
    background-color: rgba(252, 68, 160, 0.63);
    color: rgb(223, 222, 222);
  }
  
  &:hover {
    background-color: rgba(245, 84, 165, 0.9);
  }
}

.infoWrapper {
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 0.8s ease; 
}

.projectCard:hover .infoWrapper {
  max-height: 220px; 
}

.infoText {
  font-size: 1.2rem;
  color: var(--text-color-light);
  margin-top: 1rem;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.projectCard:hover .infoText {
  opacity: 1; 
}

@media (max-width: 768px) {
  .projectCard {
    width: 92%;
    overflow: hidden;
    margin: 2rem 0.4rem ;
  }

  .projectTitle {
    margin: 0;
    padding: 0;
  }

  .projectTitle h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

  .firstCardSection{
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .secondCardSection {
    padding:1rem;
  }

  .projectPreview {
    position: relative;
    width: 100%; 
    height: 140px;
  }

  .projectCard a {
    height: 2.2rem;
  }

  .projectIcon {
    width: 28px;
    height: 28px;
  }

  .infoText {
    font-size: 1rem;
    margin: 0;
  }

  .fa-file-alt, .fa-github, .fa-external-link-alt {
    font-size: 19px
  }

}
