
  .containerProjects {
    background-color: var(--background-colorA)  ;
    min-height: 100vh;

    :global(html.dark) & {
      background-color: var(--dark-light);
      color: rgb(235, 235, 235);
  }
  }

  .projectsContent{
    max-width: 1300px;
    margin-inline: auto;
    padding: 2rem 0rem;
    width: 100%;
    box-sizing: border-box;

    @media (max-width: 600px) {
      padding: 0.5rem;
    }
  }

  .highlight {
    display: inline-block;
    position: relative;
    font-size: var(--section-title-font-size);
    font-weight: var(--section-title-font-weight);
    color: var(--section-title-color);
    text-decoration: none;
    padding:0;
    margin: 1rem 0 var(--section-title-spacing) 0;
  
    @media (max-width: 600px) {
      font-size: var(--section-title-font-size-mobile);
      margin-bottom: var(--section-title-spacing-mobile);
    }
  }

  .projectsSubtitle{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color-light);

    @media (max-width: 768px) {
      font-size: 0.9rem;
      margin: 0;
      padding-bottom: 1rem;
    }
  } 

  .projectsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    scroll-behavior: smooth;
    padding-top: 1rem;
    gap: 4rem;
  }

  
  
@media (max-width: 768px) {

  .containerProjects {
    padding-top: 0.5rem;
  }

  .projectsGrid {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 0.8rem;
    gap: 0;
  }

}