
  .containerProjects {
    background-color: var(--background-colorA)  ;
    min-height: 100vh;

    :global(html.dark) & {
      background-color: var(--dark-light);
      color: rgb(235, 235, 235);
  }
  }

  .projectsContent{
    max-width: 1300px;
    margin-inline: auto;
    padding: 3rem 2rem;
    width: 100%;
    box-sizing: border-box;

    @media (max-width: 600px) {
      padding: 0.5rem;
    }
  }

  .highlight {
    display: inline-block;
    position: relative;
    font-size: 2.7rem;
    color: var(--text-color);
    text-decoration: none;
    padding:0;
    margin: 1rem 0rem;
  
    @media (max-width: 600px) {
      font-size: 1.8rem;
    }
  }

  .projectsSubtitle{
    font-size: 1.4rem;
    color: var(--text-color-light);

    @media (max-width: 768px) {
      font-size:1rem;
      margin: 0;
      padding-bottom: 1rem;
    }
  } 

  .projectsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    scroll-behavior: smooth;
    margin-top: 0;
    gap: 50px;
  }

  
  
@media (max-width: 768px) {

  .containerProjects {
    padding-top: 0.5rem;
  }

  .projectsGrid {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 0.8rem;
    gap: 0;
  }

}