
  /* titulos del project Section */

  .containerProjects {
    padding-top: 2rem;
  }
  .tit2{
    box-sizing: content-box;
    max-width: 1030px;
    margin-inline: auto;
    border-radius: 10px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem; 
    padding-right: 2rem;
    margin-bottom: 1rem;
    color: var(--text-color);
    border: 1px solid rgb(129, 128, 128, 0.2);
    box-shadow: var(--box-shadow);
  }

  .tit-project, .tit-project1, .tit-project2 {
    margin: 0;
  }

  .tit-project1, .tit-project2 {
    color: var(--text-color-light);
    width: 60%;
  }

  .tit-project{
    padding-bottom: 8px;
    font-size: 3rem;
    width: 40%;
  }

  .tit-project1{
    margin-bottom: 8px;
    font-size: 21px;
  }

  .tit-project2{
    margin-top: 3px;
    font-size: 21px;
  }

.projects1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    max-width: 1100px;
    margin-inline: auto; 
    scroll-behavior: smooth;
    margin-top: 0;
    gap: 50px;
  }
  
  .page-title {
    grid-column: span 2;
    font-size: 40px;
  }
  

.projects-section {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
@media (max-width: 768px) {
  .tit2{
    width: 90%;
    padding: 3rem 0.5rem;
    margin: 0.5rem;
  }

  .tit-project1, .tit-project2 {
    width: 100%;
  }

  .projects1 {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 0.8rem;
    gap: 0;
  }

  .tit-project{
    padding-bottom: 8px;
    font-size: 2rem;
    width: 80%;
  }

  .tit-project1, .tit-project2 {
    font-size: 1.1rem;
  }
  
}