@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

/* --- GENERAL --- */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1, .highlight, .footer, .socialmedia {
  user-select: none;
  cursor: default;
}

body {
  overflow-x: hidden;
  position: relative;
  background-image: url('/img/bg1.jpg'); /* Ruta a tu imagen */
  background-size: cover; /* Asegúrate de que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Mantiene la imagen fija mientras se desplaza la página */
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh; 
}

body::before {
  content: "";
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Capa semi-transparente */
  z-index: -1;
}

/* --- GENERAL CONTAINER --- */
.containerGeneral{
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  padding: 5% 25% 5% 25%;
}


.button-container-to-go{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-right: 30%;
}

.button-to-go{
  padding: 10px 50px;
  margin-bottom: 5%;
  font-size: 20px;
  color: rgb(240, 239, 239);
  background-color: rgb(201, 48, 125);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-to-go:hover {
  transform: scale(1.1);
  background-color: rgb(201, 48, 125, 0.8);
}

.button-container{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.button-tutorials{
  padding: 10px 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5%;
  font-size: 20px;
  color: rgb(240, 239, 239);
  background-color: rgb(201, 48, 125);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-tutorials:hover {
  transform: scale(1.1);
  background-color: rgb(201, 48, 125, 0.9);
}

.scroll-arrow {
  margin-top: 30px; /* Espacio arriba de la flecha */
  text-align: center; /* Centrar la flecha */
  animation: bounce 3s infinite; /* Animación de rebote */
  font-size: 40px; /* Tamaño de la flecha */
  color: black; /* Color de la flecha */
}

/* Animación de rebote */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px); /* Movimiento hacia arriba */
  }
  60% {
    transform: translateY(-5px); /* Movimiento hacia abajo */
  }
}

/* --- HOME PAGE --- */

.home-text {
  color: black;
  margin: 0; /* Asegúrate de que no haya márgenes que causen desplazamientos */
  display: flex;
  position: relative;
  padding: 0;
  flex-direction: column;
  justify-content:center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  animation: wave-text 2s ease-in-out infinite; /* Agrega animación al contenedor */
}

.title-section {
  display: flex;
  align-items: center;
}

.title {
  font-size: 53px;
  margin-right: 31%;
  padding-top: 11%;
  font-weight: bold;
  margin-bottom: -0.1%;
}

.name-highlight {
  color: rgb(219, 55, 137); /* Color específico para el nombre Franco */
}

.subtitle {
  font-size: 22px;
  color: #302d2d;
  padding-right: 43%;
  padding-left: 20%;
}

@keyframes wave-text {
  0%, 100% {
    transform: translateY(0); /* Posición inicial */
  }
  25% {
    transform: translateY(-1px); /* Movimiento hacia arriba */
  }
  50% {
    transform: translateY(0); /* Regresa a la posición neutral */
  }
  75% {
    transform: translateY(1px); /* Movimiento hacia abajo */
  }
}

.waving-hand {
  display: inline-block; /* Permite la animación en línea */
  animation: wave 1s infinite; /* Aplica la animación con un ciclo más largo */
  font-size: 48px; /* Tamaño del emoji de la mano */
}

@keyframes wave {
  0%, 100% {
    transform: rotate(0deg); /* Posición inicial */
  }
  10% {
    transform: rotate(10deg); /* Inclina la mano hacia arriba */
  }
  20% {
    transform: rotate(-5deg); /* Inclina la mano hacia abajo */
  }
  30% {
    transform: rotate(10deg); /* Vuelve a la posición neutral */
  }
  40% {
    transform: rotate(-5deg); /* Pequeña inclinación hacia abajo */
  }
  50% {
    transform: rotate(0deg); /* Regresa a la posición neutral */
  }
}
/* --- SOCIAL MEDIA --- */

.socialmedia {
  gap: 20px;
  transition: transform 0.5s ease-in-out;
  padding-left: 40%;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
}

.soicon {
  color: #020101; 
  padding: 15%;
  font-size: 33px; 
  transition: transform 0.7s cubic-bezier(0.25, 1, 0.5, 1), color 0.7s ease-in-out;  
}

.socialmedia a:hover .soicon {
  transform: scale(1.3);
}


/* Estilos Generales */


.about-main{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


/* Name title */
  .name-title {
    padding: 4%;
 }

  /* Subtitle description */
  .sub-description{
    font-size: 16px;
    color: #494747;
    margin-bottom: 8%;
  }

  /* Experience Section */
  .experience-section {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .experience-section h2 {
    font-size: 28px;
    color: #222;
    
  }
  
  .experience-section p {
    font-size: 21px;
    color: #202020;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .title-experience {
    padding-left: 4%;
    font-size: 24px;
    font-weight: 600;
  }

  .text-experience {
    font-size: 28px;
  }
  .divider {
    border: none;
    border-top: 1px solid #db3789;;
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 80%;
  }
  
  p{
    word-spacing: 1px;
    letter-spacing: 0.5px;
    }

  /* titulos del project Section */
  .tit2{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 11%;
    margin-top: 13%;
    margin-right: 20%;
    margin-bottom: 4%;
  }

  .tit-project, .tit-project1, .tit-project2 {
    margin: 1%;
  }

  .tit-project{
    font-size: 25px;
    font-weight: bold;
  }

  .tit-project1{
    font-size: 20px;
  }

  .tit-project2{
    font-size: 20px;
  }
  
  /* Skills Section */
  .skills-section {
    margin-bottom: 17%;
    width: 100%;
  }
  .skill-icon {
  }

  .skill-name {
    font-size: 15px;
    padding-right: 3%;
    padding-left: 5%;
  }

  .skills-section h2 {
    font-size: 28px;
    color: #222;
    margin-bottom: 3%;
  }

  h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding-top: 6%;
    padding-bottom: 1%;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
  }
 
  .skill-card {
    background-color: rgba(215, 0, 190, 0.181);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    text-align: center;
    border-radius: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .skill-card:hover {
    background-color: rgba(250, 121, 235, 0.5);
    transform: scale(1.05) ;
  }

 
 
/* --- NAV BAR --- */

nav {
  display: flex;
  position: absolute;
  overflow-x: hidden;
  background: rgb(0, 0, 0,0.0);
  color: #fff;
  padding: 15px 11.5%;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1000;
}

.active {
  font-weight: bold;
  color: #db3789;;  /* O el color que prefieras */
}
nav a {
  font-size: 21px;
  color: black;
  margin: 0 13px;
  padding-right: 0.9%;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 21px;
  width: 0;
  height: 3px;
  background-color: #db3789;
  transition: width 0.4s ease;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  transform: scale(1.2);
  color: black; 
}

.logo-container {
  position: absolute;
  left:20%; 
}

.logo {
  width: 53px;
  height: 53px;
  padding-top: 8%;
}

 /* --- FOOTER --- */
  
 .footer { 
  display: flex;
  justify-content:flex-end;
  background: rgb(0, 0, 0,0.0);
  font-size: 17px;
  color: black;
  padding: 5px 12%;
  grid-area: footer; 
}  

/* --- PAGES --- */


.projects1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
  gap: 5px;
  padding: 10px; 
  scroll-behavior: smooth;
}

.page-title {
  grid-column: span 2;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 6%;
  padding-bottom: 4%;
  font-size: 40px;
}

.titleP {
  padding-top: 10%;
}


/* --- DARK MODE --- */
/* Estilos para el botón */
.toggle-dark-mode {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-dark-mode:hover {
  background-color: #555;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: white;
}


/* --- KEYWORDS FROM HOME PAGE --- */

.keywords {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 58%;
  margin-top: -20%;
}

.highlight {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  position: relative;
  padding-left: 17%;
  margin-top: 2%;
  margin-bottom: 9%;
  color: black; 
  text-decoration: none;
  transition: color 0.3s ease;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.highlight::after {
  content: '';
  position: absolute;
  left: 22px;
  bottom: -20px;
  width: 0;
  height: 2px;
  background-color: #db3789;
  transition: width 0.4s ease;
}

.highlight:hover::after {
  width: 50%;
}

.highlight:hover {
  color: rgb(104, 104, 120);
}


.highlight::before {
  content: '';
  width: 0.5em; 
  height: 1.1em;
  background-color: rgb(185, 10, 127);
  position: absolute;
  left: 13%;
  top: 46%;
  transform: translateY(-50%); 
  border-radius: 9%;
}



/* --- MEDIA QUERIES --- */

@media (max-width: 768px) {

  .header {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    width: 100%;
    }
   .projects1 {
      display: flex;
      flex-direction: column;
      }
    .tit2 {
      margin-top: 70%;
      padding: 0;
    }

  body {
    width: 100%;
    height: auto;
  }
  
  /* Ajustes para el cuerpo principal */
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "home-text"
      "about";
    height: auto;
    justify-items: end
  }

  .home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 1;
  }

  .title {
    font-size: 28px; 
    padding-top: 25%;
    padding-left: 5%;
  }

  .subtitle {
    font-size: 22px;
    width: 70%;
  }
  .socialmedia {
    flex-direction: row;
    align-items: center;
    gap: 11px;
    order: 3;
  }


  .soicon {
    font-size: 20px; 
  }

  .nav a{
    font-size: 16px;
    gap: 0;
    padding-left: 2%;
  }

  nav a::after {
    display: none;
  }

  .logo-container {
    width: 62px;
    height: 14px;
  }

  .containerGeneral {
    padding: 2%;
  }
  .titlepro {
    margin-top: -40%;
  }
}

@media (max-width: 768px) {
  /* Ajustes para la barra de navegación de tecnologías */
  .highlight::after, .highlight::before {
    display: none;
  }
}


