@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

:root {
  /* Paleta de colores */
  --primary-color:rgb(219, 55, 137); 
  --text-color:rgb(46, 46, 46);
  --text-color-dark-mode:rgb(237, 236, 236);
  --button-color:rgba(248, 152, 200, 0.8);
  --button-color-hover:rgb(245, 84, 165, 0.9);
  background-color: rgb(239, 239, 232);
}

/* --- GENERAL --- */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

.fotofrancocontainer{
  margin-top: -40px;
}

.fotofranco {
  opacity: 0; 
  transform: scale(0.1); 
  transition: opacity 1s ease, transform 1s ease;
  border-radius: 50%;
  margin-left: 10px;
  box-shadow:  0 6px 9px rgba(221, 47, 134, 0.511);
}

.fotofranco.loaded {
  opacity: 1; 
  transform: scale(1); 
}

h1, .highlight, .footer, .socialmedia {
  user-select: none;
  cursor: default;
}

html.dark {
  background-color: #100a15;
}

html.dark p, html.dark h1, html.dark h2, html.dark h3,html.dark li,html.dark .socialmedia i,html.dark .scroll-arrow {
  color: rgb(233, 233, 233) !important;
}

.dark p, .title.dark {
  color: rgb(233, 233, 233);
 }

/* --- GENERAL CONTAINER --- */
.containerGeneral{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 880px;
  margin-inline: auto;
  color: var(--text-color);
  z-index: 10;
}

.button-tutorials, .button-to-go{
  padding: 12px 55px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 60px;
  font-size: 20px;
  background-color: rgb(33, 33, 41);
  color: rgb(231, 231, 231);
  border: 1px solid rgb(251, 188, 220); 
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dark .button-tutorials, .dark .button-to-go{
  background-color: rgb(236, 214, 231);
  color: rgb(38, 38, 38);
  border: 1px solid rgb(250, 100, 175); 
}


.fas {
  margin-left: 5px; 
  padding-left: 8px;
  font-size: 19px; 
}

.button-tutorials:hover, .button-to-go:hover {
  background-color: rgb(245, 84, 165, 0.9);
  transform: scale(1.01); 
}

.scrollcontainer {
  display: flex;
  justify-content: center;
}

.scroll-arrow {
  padding-top: 80px; 
  padding-bottom: 80px;
  text-align: center; 
  animation: bounce 3s infinite; 
  font-size: 37px; 
  color: var(--text-color)
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Coloca el canvas detrás del contenido */
}

.content {
  position: relative;
  z-index: 1; /* Encima del fondo */
  text-align: center;
  color: #f5cae7; /* Para contraste con el fondo oscuro */
  margin-top: 20vh;
}


/* Animación de rebote */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px); /* Movimiento hacia arriba */
  }
  60% {
    transform: translateY(-5px); /* Movimiento hacia abajo */
  }
}

/* --- HOME PAGE --- */

.home-text {
  color: var(--text-color);
  max-width: 880px;
  margin-inline: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content:center;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  animation: wave-text 2s ease-in-out infinite; /* Agrega animación al contenedor */
}

.title-section {
  display: flex;
  align-items: center;
}

.title {
  font-size: 54px;
  padding-right: 300px;
  padding-top: 4%;
  font-weight: 500;
  margin-bottom: -0.1%;
}

.name-highlight {
  color: var(--primary-color); 
}

.subtitle {
  display: flex;
  flex-direction: row;
  color: rgb(36, 36, 36);
  text-align: left;
}

.dark .subtitle {
  color: rgb(233, 232, 232);
}

.subtitle2{
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  padding-right: 90px;
  padding-bottom: 25px;
}

@keyframes wave-text {
  0%, 100% {
    transform: translateY(0); /* Posición inicial */
  }
  25% {
    transform: translateY(-1px); /* Movimiento hacia arriba */
  }
  50% {
    transform: translateY(0); /* Regresa a la posición neutral */
  }
  75% {
    transform: translateY(1px); /* Movimiento hacia abajo */
  }
}

.waving-hand {
  display: inline-block; 
  animation: wave 1.3s infinite;
  font-size: 51px;
}

@keyframes wave {
  0%, 100% {
    transform: rotate(0deg); /* Posición inicial */
  }
  10% {
    transform: rotate(10deg); /* Inclina la mano hacia arriba */
  }
  20% {
    transform: rotate(-5deg); /* Inclina la mano hacia abajo */
  }
  30% {
    transform: rotate(10deg); /* Vuelve a la posición neutral */
  }
  40% {
    transform: rotate(-5deg); /* Pequeña inclinación hacia abajo */
  }
  50% {
    transform: rotate(0deg); /* Regresa a la posición neutral */
  }
}

/* Button to change Mode */
.theme-toggle-button {
  background-color: var(--button-color);
  margin-left: 500px;
  margin-top: 6%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35%;
  width: 43px;
  height: 43px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.theme-toggle-button.dark {
  background-color: var(--button-color-hover);
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(32, 32, 32, 0.3);
}

.theme-toggle-button:hover {
  background-color: var(--button-color-hover);
  transform: scale(1.05);
}

/* --- SOCIAL MEDIA --- */
.fa-envelope{
  margin-left: -8px;
}

.socialmedia {
  gap: 25px;
  transition: transform 0.5s ease-in-out;
  margin-top: -36px;
  margin-bottom: 20px;
  padding-right: 30%;
  display: flex;
  flex-direction: row;
}

.soicon {
  color: var(--text-color);
  font-size: 33px; 
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1), color 0.7s ease-in-out;  
}

.socialmedia a:hover .soicon {
  transform: scale(1.2);
  color: rgb(219, 55, 137);
}


.projects-section {
  display: flex;
  align-content: center;
  justify-content: center;
}
  /* Experience Section */

  .experience-section{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .timeline {
    position: relative;
    width: 100%; /* Ajusta según el tamaño del contenido */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .timeline::before {
    content: "";
    position: absolute;
    left: 68px; /* Fija la línea completamente a la izquierda */
    top: 0;
    width: 1.8px;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 2px;
  }
  
  .experience-item {
    display: flex;
    cursor: pointer;
    margin: 30px 0px;
    align-items: center; /* Mantiene el contenido centrado */
    position: relative;
    width: 100%;
    justify-content: center; /* Centra el contenido */
  }
  
  .circle {
    width: 24px;
    height: 24px;
    border: 2.4px solid var(--primary-color); /* Solo borde, sin relleno */
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    left: 55px;
    top: 10px; /* Alinea el círculo con la línea */
  }
  
  .experience-content {
    border: 1px solid var(--primary-color);
    width: 600px;
    padding: 25px 20px;
    border-radius: 5px;
    text-align: left; /* Asegura que el texto esté centrado */
  }
  
  .title-experience {
    font-size: 20px;
    font-weight: 400;
    color: rgb(227, 227, 227);
    margin: 0;
  }
  
  .experience-date {
    font-size: 14px;
    color: #aaa;
    margin: 7px 0px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    color: white;
  }
  
  ul li {
    margin-bottom: 5px;
    line-height: 1.5;
  }
  
  .experience-item:hover .title-experience {
    color: #f0f0f0;
  }
  
  /* seccion de contact */

  .contact-section-container {
    display: flex;
    flex-direction: row;
  } 

  .contact-section-first {
    font-size: 20px;
    width: 60%;
  }

.tit-contact-start {
  margin-top: 50px;
}

.tit-contact-end {
  margin-bottom: 50px;
}

  .contact-section-second {
    display: flex;
    align-items: center;
  }

  .dark .button-to-go{
    margin-left: 100px;
    margin-top: 20px;
  }


 

  /* titulos del project Section */
  .tit2{
    max-width: 880px;
    margin-inline: auto;
    margin-top: 25px;
    margin-bottom: 40px;
    color:rgb(52, 51, 51)
  }

  .tit-project, .tit-project1, .tit-project2 {
    margin: 0;
  }

  .tit-project1, .tit-project2 {
    width: 65%;
  }

  .tit-project{
    padding-bottom: 8px;
    font-size: 30px;
  }

  .tit-project1{
    margin-bottom: 8px;
    font-size: 20px;
  }

  .tit-project2{
    margin-top: 3px;
    font-size: 20px;
  }
  
  /* Skills Section */
  .skills-section {
    margin-bottom: 10%;
    width: 100%;
  }

  .skill-name {
    font-size: 14px;
    padding-left:7%;
  }

  .skills-section h2 {
    font-size: 28px;
    color: #222;
    margin-bottom: 0;
  }

 .skills-title-divide {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    padding-top: 10px;
    color: #222;
    padding-bottom: 0;
    padding-left: 1%;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
  }
 
  .skill-card {
    background-color:rgb(245, 221, 233); 
    border: 1px solid var(--primary-color);
    color: rgb(28, 28, 28);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 7px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .skill-card:hover {
    background-color: rgb(241, 194, 218); 
    transform: scale(1.05) ;
  }
 
/* --- NAV BAR --- */

nav {
  display: flex;
  position: relative;
  overflow-x: hidden;
  background: rgb(0, 0, 0,0.0);
  color: #fff;
  padding: 10px 0px;
  justify-content: space-evenly;
  align-items: center;
  max-width: 880px;
  margin-inline: auto;
  z-index: 1000;
  top: 0;
}

.active {
  font-weight: bold;
  color: var(--primary-color);
}

nav a {
  font-size: 22px;
  color: black;
  margin: 0 13px;
  padding-right: 0.9%;
  padding-top: 8px;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 21px;
  width: 0;
  height: 3px;
  background-color: var(--primary-color);
  transition: width 0.4s ease;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  transform: scale(1.2);
  color: black; 
}

.logo-container {
  display: flex;
  flex-direction: row;
  left:0; 
}

.logo {
  width: 65px;
  height: 65px;
  padding-top: 10px;
  padding-right: 80px;
}

 /* --- FOOTER --- */
  
 .footer { 
  display: flex;
  max-width: 880px;
  align-content: flex-end;
  right: 0;
  text-align: right;
  justify-content:flex-end;
  background: rgb(0, 0, 0,0.0);
  font-size: 17px;
  color: black;
  grid-area: footer; 
  margin-top: 20px;
  margin-bottom: 10px;
}  

/* --- PAGES --- */

.projects1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  max-width: 880px;
  margin-inline: auto; 
  scroll-behavior: smooth;
  margin-top: 0;
}

.page-title {
  grid-column: span 2;
  font-size: 40px;
}


/* --- KEYWORDS FROM HOME PAGE --- */

.keywords {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 58%;
  margin-top: -20%;
}

.highlight {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  position: relative;
  padding-left: 30px;
  margin-top: 2%;
  margin-bottom: 4%;
  color: var(--text-color); 
  text-decoration: none;
  transition: color 0.3s ease;
}

.projects-section h2 {
  color: rgb(53, 53, 53);
}

p {
  font-family: 'Montserrat', sans-serif;
}

.highlight::after {
  content: '';
  position: absolute;
  left: 22px;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.4s ease;
}

.highlight:hover::after {
  width: 50%;
}

.highlight:hover {
  color: rgb(104, 104, 120);
}

.highlight::before {
  content: '';
  width: 7px; 
  height: 40px;
  border-radius: 4px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  top: 18px;
  transform: translateY(-50%); 
}

/* --- SCROLL ANIMATION --- */

.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

/* --- MEDIA QUERIES --- */

@media (max-width: 768px) {

  html, body {
    overflow-x: hidden; 
    width: 100%;    
    margin: 0;   
    padding: 0;
    height: auto;
  }
  
  .containerGeneral{
    margin: 0;
    width: 100%;
    padding: 0 14px; /* Ajusta el padding según prefieras */
    box-sizing: border-box;
  }

  main{
    margin: 0;
    width: 100%;
    padding: 0 14px; /* Ajusta el padding según prefieras */
    box-sizing: border-box;
  }

  .title{
    margin: 0;
    padding: 0;
    font-size: 33px;
    margin-top: 2px;
    text-align: left;
  }

  .subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  .subtitle2 {
    font-size: 17px;
    padding-right: 20px;
  }

  .waving-hand {
    font-size: 35px;
  }


  .socialmedia {
    margin: 0;
    padding-top: 10px;
  }

  .socialmedia i {
    font-size: 25px;
    margin-bottom: 35px;
  }

  .fotofrancocontainer{
    display: none;
  }

  .button-container{
    justify-content: center;
    width: 100%;
  }
  
  .button-tutorials {
    padding: 5px 25px;
    font-size: 16px;
    background-color: rgb(33, 33, 41);
    color: rgb(231, 231, 231);
    border: 1px solid rgb(251, 188, 220); 
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .fa-arrow-right{
    display: none;
  }

  .projects-section h2, h2, .highlight, .skills-section h2 {
    font-size: 25px;
  }

  .experience-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .title-experience {
    font-size: 19px;
  }

  .highlight::before {
    content: '';
    width: 7px; 
    height: 40px;
    border-radius: 4px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 18px;
    transform: translateY(-50%); 
  }

  .contact-section-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .contact-section-first {
    width: 100%;
  }

  .contact-section-second {
    display: flex;
  }

  .button-container {
    display: flex;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr); /* Tres columnas en móviles */
  }

  .skills-section h3 {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .skill-card {
    width: 90%;
  }

  .tit-contact1, .tit-contact2 {
    font-size: 20px;
  }

  .button-container-to-go {
    margin: 0;
    padding: 0;
  }

  .button-to-go{
    padding: 8px 15px;
    margin:0;
    font-size: 18px;
    background-color: rgb(33, 33, 41);
    color: rgb(231, 231, 231);
    border: 1px solid rgb(251, 188, 220); 
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 75px;
    padding: 0 0.2rem;
  }

  .nav a {
    font-size: 17px;
  }

  .logo {
    display: none;
  }

  .tit-project {
    font-size: 21px;
  }

  .tit-project1, .tit-project2 {
    font-size: 17px;
  }
  
  .titlepro {
    margin: 0;
    padding: 0;
  }

  .tit2 {

  }

  .projects1 {
    display: flex;
    flex-direction: column;
    margin-right: 7%;
  }

  .home-text{
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    display: flex;
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .scroll-arrow {
    display: none;
  }

  .container-social {
    margin-top: 5px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    width: 60%;
  }

  .theme-toggle-button {
    margin-left: 0
  }

  .timeline {
    width: 80%;
  }

  .timeline::before {
    left:-15px
  }

  .circle {
    left: -25px;
    width: 17px;
    height: 17px;
  }
}

