/* LoadingSpinner.css */
.loadingOverlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
    background: transparent; 
    align-items: center;
    justify-content: center;
    z-index: 99999;
    gap: 1rem;
  }

  .spinnerContainer {
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -7rem;

    @media (max-width: 768px) {
      margin-top: -2rem;
    }
  }
  
  .circle {
    position: absolute;
    border: 1.75px solid var(--primary-color);
    border-radius: 50%;
    border-top-color: transparent;
    border-right-color: transparent;
    opacity: 1;
  }

  .circle:nth-child(1) {
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  .circle:nth-child(2) {
    width: 40px;
    height: 40px;
    animation: spinReverse 1.3s linear infinite;
    opacity: 0.9;
  }

  .circle:nth-child(3) {
    width: 30px;
    height: 30px;
    animation: spin 0.8s linear infinite;
    opacity: 1;
  }

  .logo{
    opacity: 1;
    background-color: transparent !important;
    border-radius: 50%;
    box-shadow: none !important;
    transition: transform 0.3s ease;
    width: 82px;
    height: 82px;

    :global(html.dark) & {
      box-shadow: none !important;
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes spinReverse {
    to {
      transform: rotate(-360deg);
    }
  }
  