/* LoadingSpinner.css */
.loadingOverlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
    background: transparent; 
    align-items: center;
    justify-content: center;
    z-index: 99999;
    gap: 3rem;
  }
  
  .spinner {
    width: 3rem;
    height: 3rem;
    animation: spin 1s linear infinite;
    color: var(--primary-color);
  }
  

  .logo{
    opacity: 0.8;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  