@import '../../app/styles/utilities.scss'; 

.testimonialsContainer{
    width: 100%;
    background-color: var(--background-colorA);
    
    :global(html.dark) & {
      background-color: var(--dark-light);
      color: rgb(235, 235, 235);
  }
}

.testimonials {
    max-width: 1300px;
    margin-inline: auto;
    padding: 4rem 0;

    @media (max-width: 768px) {
        padding: 0rem 0.5rem;
        box-sizing: border-box;
    }
  }
  
  .grid {
    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    padding-top: 1rem;

    @media (max-width: 768px) {
        padding: 0.5rem 0;
        gap: 1rem;
      }
  }

  .card {
    background: #fff;
    border: 1px solid rgba(75, 1, 38, 0.1);
    padding: 1.7rem;
    border-radius: var(--br);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
  
    &:hover {
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
      background-color: #f9f9f9;
      border: 1px solid rgba(240, 4, 122, 0.3);
    }
  
    &:hover  .linkedinButton {
      transform: rotate(20deg);
    }

  
    :global(html.dark) & {
      background-color: #181c33;
      color: rgb(226, 226, 226);
      box-shadow: 0 3px 6px rgba(247, 247, 247, 0.1);
    }
  
    @media (max-width: 768px) {
      padding: 1rem;
      margin: 0;
      width: 90%;
    }
  }
  
  
  .avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    
    @media (max-width: 768px) {
        width: 40px;
        height: 40px;
        margin-bottom: 0
    }
  }
  
  .message {
    font-style: italic;
    margin-bottom: 1.2rem;
    color: var(--text-color-light)  ;
    white-space: pre-line;

    @media (max-width: 768px) {
        display: -webkit-box;
        -webkit-line-clamp: 4; 
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.8rem;
        margin-bottom: 0.7rem;
    }
    }
  
  .author {
    strong {
      display: block;
      font-size: 1.1rem;
      color: #111;
      font-weight: 500;
      
      :global(html.dark) & {
        color: rgb(226, 226, 226);
      }

      @media (max-width: 768px) {
      font-weight: 500;
       font-size: 0.9rem;
    }
    
    }
  
    span {
      font-size: 0.9rem;
      white-space: pre-line;
      color: #aaa;

      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
    }
  }
  
  .secondSection{
    display: flex;
    justify-content: flex-end;
  }

  .linkedinButton {
    margin-top: 0rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid rgb(204, 204, 204, 0.6);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    &:hover {
      background-color: #f4f9fd;
    }

    :global(html.dark) & {
      border: 1px solid rgb(114, 114, 114, 0.6);
    }
  
    svg {
      vertical-align: middle;
    }

    @media (max-width: 768px) {
        width: 35px;
        height: 35px;
        margin-bottom: 0
    }
  }
  