.themeToggleButton {
    background-color:transparent;
    border: 1px solid rgb(151, 0, 76, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--br);
    width: 32px;
    height: 32px;
    box-shadow: 0px 2px 4px rgb(151, 0, 76, 0.1);
    transition: all 0.3s ease;
    color: var(--text-color-light);
  }
  
  .themeToggleButton.dark {
    background-color: #caccda;
    box-shadow: 0 2px 4px rgba(150, 150, 150, 0.1);
  }
  
  .themeToggleButton:hover {
    background-color: rgba(253, 184, 219, 0.7); 
  }
  
  .containerSocial {
    display: flex;
    padding-top: 2rem;
  }

  @media (max-width: 768px) {
  .containerSocial {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin-top: -20px;
    margin-bottom: 1rem;
  }

  .themeToggleButton {
    width: 32px;
    height: 32px;
    margin-top: 0.25rem;
    margin-left: 0;
  }

  .icon {
    width: 14px !important;
    height: 14px !important;
  }
  }