.languageSelector {
  display: flex;
  align-items: center;
  gap: 0;
  border: 1px solid rgb(226, 225, 225);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 12px
}

.languageButton {
  background: none;
  border: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--text-color-light);
  font-weight: 400;
  font-size: 0.75rem;
  opacity: 1;

  // Primer botón (ES) - border-radius solo a la izquierda
  &:first-child {
    border-radius: 12px 0 0 12px;
  }

  // Último botón (EN) - border-radius solo a la derecha
  &:last-child {
    border-radius: 0 12px 12px 0;
  }

  &:hover {
    opacity: 1;
    background-color: rgba(245, 84, 165, 0.1);
  }

  &.active {
    opacity: 1;
    color: var(--primary-color);
    background-color: rgba(245, 84, 165, 0.15);
  }

  :global(html.dark) & {
    color: rgb(223, 222, 222);
    
    &:hover {
      background-color: rgba(250, 81, 166, 0.2);
    }
    
    &.active {
      color: #fa51a6;
      background-color: rgba(250, 81, 166, 0.25);
    }
  }
}

@media (max-width: 768px) {
  .languageSelector {
    gap: 0;
    padding: 0rem;
    margin-top: 0.25rem;
  }
  
  .languageButton {
    padding: 0.5rem;
    font-size: 0.75rem;
  }
} 