@import '../../app/styles/utilities.scss'; 

.title{
    font-size: 1.5rem;
    color: var(--text-color-light);
    margin: 0;
    padding-bottom: 0.5rem;
}
  .recentProjects {
    padding: 1rem 0;
    width: 100%;
  }
  
  .projectsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap:50px;
  }
  
  .projectsButtonContainer{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding: 1rem 0;
    @media (max-width: 768px) {
        padding: 0;
        justify-content: center;
    }
  }
  
  @media (max-width: 768px) {
    .projectsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.1rem;
    }
    
    .title{
      font-size: 1.2rem;
      padding:0;
   }
}