.calendlyWidget {
  width: 100%;
  min-width: 320px;
  height: 700px;
  border-radius: var(--br);
  overflow: hidden;

  @media (max-width: 768px) {
    min-width: 100%;
    height: 600px;
  }
}






