
.tutorial-page {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Dos columnas iguales */
    gap: 5px;
    padding: 20px; 
    scroll-behavior: smooth;
  }

  .tit3{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 10%;
    margin-top: 3%;
    margin-right: 40%;
    margin-bottom: 4%;
    color:rgb(52, 51, 51)
  }

  .tit-tutorial, .tit-tutorial1, .tit-tutorial2 {
    margin: 1%;
  }

  .tit-tutorial{
    font-size: 30px;
    font-weight: bold;
  }

  .tit-tutorial1, .tit-tutorial2{
    font-size: 20px;
  }

  
  /* --- TUTORIALS NAV BAR --- */

.tech-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1px;
    left: 0;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto; 
    white-space: nowrap;
  }
  
  .tech-nav a {
    display: inline-block;
    padding: 0 10px;
    color: rgb(46, 46, 46);
    text-decoration: none;
    font-size: 17px;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .tech-nav a:hover {
    color: rgb(34, 34, 34);
    transform: scale(1.2);
  }
  
  .tit{
    padding-top: 7%;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 4px;
  }
  
  .page-title {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 6%;
    padding-bottom: 4%;
    font-size: 40px;
  }

  .dark .tech-nav a, .dark .tutorial-page, .dark .page-title, .dark .title-container {
    color: rgb(234, 233, 233);
  }
  .menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    top: 20px; /* Ajusta según tu header */
    right: 20px; /* Ajusta según tu diseño */
    z-index: 9999; /* Asegúrate de que esté encima de otros elementos */
  }
  
  @media (max-width: 768px) {
  .tech-nav {
    display: none;
    margin: 0;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 1001;
    color: rgb(251, 250, 248, 0.5);
  }

  .tech-nav.show {
    display: flex; /* Muestra el menú cuando se activa */
  }

  .menu-toggle {
    display: block; /* Muestra el botón hamburguesa */
  }

  .tech-nav a {
    display: none;
    font-size: 14px;
  }

  .tutorial-page {
    padding: 0;
    margin: 0;
  }

  .tit3 {
    margin: 0;
    padding-right: 15%;
  }

  .tit-tutorial {
    font-size: 21px
  }

  .tit-tutorial1,.tit-tutorial2 {
    font-size: 17px;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    margin-right: 8%;
    margin-bottom: 0;
  }
  }